//- nav bar with a tags
nav.headerNav
  a(href="/home") Home
  a(href="/artists") By Artist
  a(href="/likes") My Likes
  a(href="/reviews") My Reviews
  a(href="/account") Change Role
  a(href="/logout", id="logout") Logout