html
    head
        title Login
        link(rel='stylesheet', href='/styles.css')
        script(src="/userOps.js")

    body
        .centerModal
            h2 Login
            input#logUsername(type='text', placeholder='Username')
            br
            input#logPassword(type='password', placeholder='Password')
            br
            button#logButton(onclick='login()') Login
            br
            a(href='/register') Register
